[submodule "foray"]
	path = foray
	url = https://github.com/Vulkemp/foray
[submodule "denoisers/foray-denoiser-optix"]
	path = denoisers/foray-denoiser-optix
	url = https://github.com/Vulkemp/foray-denoiser-optix
[submodule "denoisers/foray-denoiser-asvgf"]
	path = denoisers/foray-denoiser-asvgf
	url = https://github.com/Vulkemp/foray-denoiser-asvgf
[submodule "denoisers/foray-denoiser-bmfr"]
	path = denoisers/foray-denoiser-bmfr
	url = https://github.com/Vulkemp/foray-denoiser-bmfr
[submodule "denoisers/foray-denoiser-nrd"]
	path = denoisers/foray-denoiser-nrd
	url = https://github.com/Vulkemp/foray-denoiser-nrd.git
